.about h1{
    color: #2cbdb8;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-size: 40px;
    position: relative;
}

.about p{
    color: #010101;
    font-size: 20px;
}