.main-title h1 {
    color: #2cbdb8;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    letter-spacing: .5px;   
}
.about-info p{
    line-height: 2.5;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

    
} 

